/*** BODY CODE ***/

.day-container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 20px;
    /* position: relative; */
    width: 100%;
    align-items: center;
}

.bdate-txt{
    position: relative;
    left: 0;
    display: inline;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    /* justify-content: center; */
    color: #5F754F;
    font-size: 50px;
    width: auto;
}

.day-container .bdate-txt {
    transition: all 1s ease-in-out;

}

.day-container:hover .bdate-txt{
    left: 2px;
    transition: all 1s ease-in-out;
}


.selection{
    visibility: hidden;
}


.day-container:hover .selection{
    visibility: visible;
    display: flex;
    justify-content:center;
    background-color: transparent;
    border-radius: 40px;
    width: 100%;
    height: 20vh;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    transition: all 1.5s ease-in-out;
}

.day-container .selection{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out; 
}

.day-container #selec-pic{
    /* margin-left: 200px;
    margin-right: 200px;
    position: static7;
    transition: all 5s ease-in-out; */
    width: 25%;
    height: 20vh;
}



.day-container:hover #selec-pic{
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    width: 25%;
    height: 20vh;
    visibility: visible;
    opacity: 1;
    transition: all 2s ease-in-out;
}


/* IMAGES */

.image1{
    width: 20%;
}

.day-container #selec-pic{
    opacity: 0;
    transition: all 0.5s ease-in-out;
    
}

.info-container {
    background-color: #F7F0F6;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    border-color: #F2d6eb;
    border-style: solid;
}

.food-link{
    display: block;
}

.birthdate-title{
    text-align: center;
    font-family: "Barriecito", system-ui;
    font-size: 2em;
}

.day{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    /* font-size: 1.5em; */
}

.colors-container{
    background-color: #F2d6eb;
    padding: 5px;
    border-radius: 5px;
}

/* Media Query for screens smaller than 768px (typical tablet and mobile sizes) */
@media (max-width: 768px) {
    .day-container {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .bdate-txt {
        font-size: 2em; /* Adjust font size for smaller screens */
    }

    .day {
        font-size: 1.2em; /* Adjust font size for smaller screens */
    }
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    align-items: center;
    text-align: center;
}

