.display-page {
    /* height: 100%; */
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #F7F0F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./Images/bubble-background.png');
    background-size: cover;
}

/* Media Query for screens smaller than 768px (typical tablet and mobile sizes) */
